<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "My Twitter API" %></h1>
</section>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-header">             
        <%= link "Create tweet", to: Routes.tweet_path(@conn, :new), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>